.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size(
    $btn-padding-x,
    $btn-padding-y,
    $btn-font-size,
    $border-radius
  );
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-lg {
  @include button-size(
    $btn-padding-x-lg,
    $btn-padding-y-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}
.btn-sm {
  @include button-size(
    $btn-padding-x-sm,
    $btn-padding-y-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}

.btn-primary {
  color: $white;
  background: var(--btn-primary,$primary);
  border-color: var(--btn-primary,$primary);
  &:hover {
    color: $white;
    background: var(--btn-primary-hover,lighten($primary, 10%));
    border-color: var(--btn-primary-hover,lighten($primary,7.5%));
  }
  &:focus,
  &.focus {
    color: $white;
    background: var(--btn-primary-hover,lighten($primary, 10%));
    border-color: var(--btn-primary-hover,lighten($primary,7.5%));
  }
  &:disabled,
  &.disabled {
    color: $white;
    background: var(--btn-primary,$primary);
    border-color: var(--btn-primary,$primary);
  }
}
.btn-danger {
  color: $white;
  background: $danger;
  border-color: $danger;
  &:hover {
    color: $white;
    background: lighten($danger, 10%);
    border-color: lighten($danger,7.5%);
  }
  &:focus,
  &.focus {
    color: $white;
    background: lighten($danger, 10%);
    border-color: lighten($danger,7.5%);
  }
  &:disabled,
  &.disabled {
    color: $white;
    background: $danger;
    border-color: $danger;
  }
}

.btn-default {
  color: $body-color;
  background: $white;
  border-color: $gray-400;
  &:hover {
    color: var(--btn-primary,$primary);
    background: lighten($white, 10%);
    border-color: var(--btn-primary-hover,lighten($primary,7.5%));
  }
  &:focus,
  &.focus {
    color: var(--btn-primary,$primary);
    background: lighten($white, 10%);
    border-color: var(--btn-primary-hover,lighten($primary,7.5%));
  }
  &:disabled,
  &.disabled {
    color: $body-color;
    background: $white;
    border-color: $gray-400;
  }
}

.btn-link {
  font-weight: $font-weight-normal;
  color: var(--btn-primary,$primary);
  text-decoration: $link-decoration;
  box-shadow: none;
  &:hover {
    color: var(--btn-primary-hover,$btn-link-hover-color);
    text-decoration: $link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}
